/* ============================================================
  Styles for heading typography.
  ============================================================ */

h1, h2, h3, h4, h5 {
  font-family: $headline;
  font-weight: 600;
  color: $gray;
}

h1 {
  font-size: 2.125rem;

  @include respond-to('xxs') {
    font-size: 2.375rem;
  }
}

h2 {
  font-size: 1.875rem;

  @include respond-to('xxs') {
    font-size: 2.125rem;
  }
}

h3 {
  font-size: 1.625rem;

  @include respond-to('xxs') {
    font-size: 1.875rem;
  }

}

h4 {
  font-size: 1.375rem;

  @include respond-to('xxs') {
    font-size: 1.75rem; 
  }
}

h5 {
  font-size: 1.25rem;

  @include respond-to('xxs') {
    font-size: 1.5rem;
  }
}

#block-paladin-page-title > h1 {
  margin: 0 0 .5em;

  @include respond-to('m') {
    max-width: 600px;
  }

  @include respond-to('l') {
    max-width: 800px;
  }
}