{#
/**
 *
 * NOTE:
 *  - This file is only for convenience
 *  - Contents are taken from values in /admin/config/fulcrum_whitelist
 *  - You probably want to change the default install values:
 *      ./config/install/fulcrum_whitelist.fulcrumwhitelistconfig.yml
 *
 */
#}
<h2>For FSW Site Administrators:</h2>
<ul>
  <li>
    I.F. must grant permission to view the FSW URLs.
  </li>

  <li>
    FSW URLs are on your site at the path: <a href="/admin/config/fulcrum_whitelist">/admin/config/fulcrum_whitelist</a>
  </li>

  <li>
    FSW URLs should be exposed only to the particular user associated with the particular URL.
  </li>

  <li>
    Rescinding access requires disabling the user or disabling the FSW URL (both are not required).
  </li>

  <li>
    To create a new FSW URL, delete the existing URL; a replacement URL will be generated automatically within an hour.
  </li>
</ul>
