{#
/**
 *
 * NOTE:
 *  - This file is only for convenience
 *  - Contents are taken from values in /admin/config/fulcrum_whitelist
 *  - You probably want to change the default install values:
 *      ./config/install/fulcrum_whitelist.fulcrumwhitelistconfig.yml
 *
 */
#}
<h2>For FSW Users:</h2>
<ul>
  <li>
    Do not share the FSW URL with others. It is specific to your account and will only work for one account. Any activity with the FSW URL is recorded along with your I.P. for security purposes.
  </li>

  <li>
    If for any reason you inadvertently share your FSW URL via email or other methods with anyone besides your site administrator(s), please contact your site administrator(s) to reset your FSW URL.
  </li>

  <li>
    The FSW URL will not automatically log you in. It will authorize your Internet Address (I.P.) and redirects you to the correct login screen, where you must supply appropriate credentials.
  </li>

  <li>
    The redirect page will not look like your website.
  </li>

  <li>
    If you were previously logged in you will be redirected to your user page, otherwise you will redirected to the login page.
  </li>

  <li>
    If you are an existing Zuul user, it will continue to work. However, we recommend you switch to FSW. While “zuul” will continue to work it will be deprecated in the future.
  </li>
</ul>
