/* ============================================================
  Styles for bare HTML elements (h1, a, p, etc.)
  ============================================================ */
/* ============================================================
  Preprocessors, fonts, variables.
  These ITCSS naming conventions and structure are inspired by Lindsay Grizzard's article on Medium: https://medium.com/gusto-design/creating-the-perfect-css-system-fa38f5bcdd9e
  ============================================================ */
/* ============================================================
  Vendor-specific styles.
  ============================================================ */
/* ============================================================
  Breakpoints
  ============================================================ */
/* ============================================================
  Colors
  ============================================================ */
/* ============================================================
  Styles for fonts/typefaces.
  ============================================================ */
/* ============================================================
  Placeholders for repeat styles.
  ============================================================ */
.button {
  color: #fff !important;
  background: #053C5B;
  font-size: 1.25em;
  padding: .5em 2em;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 3px; }
  .button[href$='.pdf'] {
    background: #053C5B;
    display: block;
    padding: .5em 2em; }


.nomargin {
  margin: 0 !important; }


.nopadding {
  padding: 0 !important; }

#block-breadcrumbs ol,
.nospacing {
  margin: 0 !important;
  padding: 0 !important; }

/* ============================================================
  Styles for the breadcrumb.
  ============================================================ */
#block-breadcrumbs {
  margin: 0 0 2em; }
  #block-breadcrumbs ol {
    list-style: none; }
    #block-breadcrumbs ol li {
      display: inline-block; }
      #block-breadcrumbs ol li a {
        font-weight: 600;
        text-decoration: none; }
      #block-breadcrumbs ol li svg {
        color: #053C5B;
        font-size: 1.6em;
        margin: 0 .2em;
        position: relative;
        top: .175em; }

/* ============================================================
  Styles for buttons.
  ============================================================ */
/* ============================================================
  Styles for heading typography.
  ============================================================ */
h1, h2, h3, h4, h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #535353; }

h1 {
  font-size: 2.125rem; }
  @media (min-width: 444px) {
    h1 {
      font-size: 2.375rem; } }

h2 {
  font-size: 1.875rem; }
  @media (min-width: 444px) {
    h2 {
      font-size: 2.125rem; } }

h3 {
  font-size: 1.625rem; }
  @media (min-width: 444px) {
    h3 {
      font-size: 1.875rem; } }

h4 {
  font-size: 1.375rem; }
  @media (min-width: 444px) {
    h4 {
      font-size: 1.75rem; } }

h5 {
  font-size: 1.25rem; }
  @media (min-width: 444px) {
    h5 {
      font-size: 1.5rem; } }

#block-paladin-page-title > h1 {
  margin: 0 0 .5em; }
  @media (min-width: 768px) {
    #block-paladin-page-title > h1 {
      max-width: 600px; } }
  @media (min-width: 1024px) {
    #block-paladin-page-title > h1 {
      max-width: 800px; } }

/* ============================================================
  Styles for media.
  ============================================================ */
img {
  width: 100%;
  display: block;
  max-width: 100%;
  height: auto; }

.embedded-entity {
  margin: .5em 0; }
  .embedded-entity.align-left {
    margin: .5em .5em 0 0; }
  .embedded-entity figcaption {
    font-size: .9em;
    margin: .25em 0; }

.featured-image img {
  padding: .8em 0 .8em 1.3em; }

.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }

.embed-responsive::before {
  display: block;
  content: ""; }

.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.857143%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; }

/* ============================================================
  Styles for the pager.
  ============================================================ */
.pager {
  margin: 1.5em 0; }
  .pager__items {
    display: flex;
    justify-content: space-between; }
    @media (min-width: 888px) {
      .pager__items {
        width: 80%;
        margin: 0 auto; } }
    .pager__items .pager__item {
      padding: .25em .5em !important;
      border-radius: 3px;
      border: 1px solid #053C5B; }
      .pager__items .pager__item--first, .pager__items .pager__item--last {
        display: none; }
        @media (min-width: 768px) {
          .pager__items .pager__item--first, .pager__items .pager__item--last {
            display: inline; } }
      .pager__items .pager__item.is-active {
        background: #053C5B; }
        .pager__items .pager__item.is-active > a {
          color: #fff; }
      .pager__items .pager__item a {
        color: #053C5B;
        text-decoration: none;
        font-weight: 600; }
      .pager__items .pager__item--ellipsis {
        color: #053C5B;
        border: 0; }

/* ============================================================
  Styles for social icons.
  ============================================================ */
#block-share-and-print {
  margin: 1.5em 0; }
  @media (min-width: 768px) {
    #block-share-and-print {
      position: absolute;
      margin: 0;
      top: 0;
      right: 0; } }
  #block-share-and-print .share,
  #block-share-and-print .print {
    font-size: 1.2em;
    margin: 0 1em 0 .5em;
    color: #053C5B;
    font-weight: 600; }
    #block-share-and-print .share svg,
    #block-share-and-print .print svg {
      position: relative;
      left: -.2em;
      top: .05em; }
  #block-share-and-print .social-wrap {
    position: absolute; }
    #block-share-and-print .social-wrap .social-sharing-buttons {
      margin: 1em 0;
      position: relative; }

/* ============================================================
  Styles for tables
  ============================================= */
table {
  width: 100%;
  font-size: 1rem !important; }
  table p {
    font-size: 1rem !important;
    margin: 0; }
  table tr td,
  table tr th {
    height: 40px;
    padding: .5em; }
  table thead th {
    text-align: left;
    background: #053C5B;
    color: #fff; }
    table thead th a {
      color: #fff;
      text-decoration: none;
      font-size: 1.125rem;
      font-weight: 600; }
  table tbody tr:nth-child(even) {
    background: #979797; }

.tablesort--asc {
  background-image: url("/themes/custom/paladin/images/twistie-down.svg"); }

.tablesort--desc {
  background-image: url("/themes/custom/paladin/images/twistie-up.svg"); }

/* ============================================================
  Styles for general typography and links.
  ============================================================ */
a {
  color: #053C5B; }
  a:hover {
    text-decoration: underline; }
  a[href$='.pdf'] {
    display: inline-block;
    background: url("/core/themes/classy/images/icons/application-pdf.png") no-repeat left center;
    padding: 0 0 0 1.2em; }

p {
  margin: 0 0 1em;
  font-size: 1.125rem;
  line-height: 1.5; }

#block-paladin-content ul,
#block-paladin-content ol {
  font-size: 1.125rem;
  line-height: 1.5; }
  #block-paladin-content ul li,
  #block-paladin-content ol li {
    margin: .5em 0 .5em 1em;
    padding: 0 0 0 .5em; }

#block-paladin-content ul li {
  list-style: disc; }

#block-paladin-content ol li {
  list-style: decimal; }

/*# sourceMappingURL=atoms.css.map */
