/* ============================================================
  Resets/normalizing files.
  ============================================================ */
/* ============================================================
  Preprocessors, fonts, variables.
  These ITCSS naming conventions and structure are inspired by Lindsay Grizzard's article on Medium: https://medium.com/gusto-design/creating-the-perfect-css-system-fa38f5bcdd9e
  ============================================================ */
/* ============================================================
  Vendor-specific styles.
  ============================================================ */
/* ============================================================
  Breakpoints
  ============================================================ */
/* ============================================================
  Colors
  ============================================================ */
/* ============================================================
  Styles for fonts/typefaces.
  ============================================================ */
/* ============================================================
  Placeholders for repeat styles.
  ============================================================ */
.layout-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2em; }
  @media (min-width: 1024px) {
    .layout-container {
      padding: 2em; } }
  @media (min-width: 1280px) {
    .layout-container {
      padding: 2em 5em; } }
  @media (min-width: 1440px) {
    .layout-container {
      padding: 2em 6.25em; } }


.nomargin {
  margin: 0 !important; }


.nopadding {
  padding: 0 !important; }


.nospacing {
  margin: 0 !important;
  padding: 0 !important; }

/* ============================================================
  Styles for layout structure, including a column system!
  ============================================================ */
.not-found .layout-container {
  margin: 0 3em; }

.layout-container .content-top {
  margin: 0 0 1.5em;
  position: relative; }

@media (min-width: 768px) {
  .layout-container .layout-content.left-sidebar {
    margin: 0 0 0 1em; } }

@media (min-width: 1024px) {
  .layout-container .layout-content.left-sidebar {
    max-width: 800px;
    margin: 0 0 0 1.5em; } }

@media (min-width: 1280px) {
  .layout-container .layout-content.left-sidebar {
    margin: 0 0 0 2.5em; } }

@media (min-width: 768px) {
  .layout-container .layout-content.right-sidebar {
    margin: 0 1em 0 0; } }

@media (min-width: 1024px) {
  .layout-container .layout-content.right-sidebar {
    max-width: 800px;
    margin: 0 1.5em 0 0; } }

@media (min-width: 1280px) {
  .layout-container .layout-content.right-sidebar {
    margin: 0 2.5em 0 0; } }

.row {
  display: flex;
  flex-direction: column; }
  @media (min-width: 768px) {
    .row {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between; }
      .row.no-justify {
        justify-content: flex-start; } }
  .row .col {
    flex: 1; }
    @media (min-width: 888px) {
      .row .col.percent-33 {
        flex: 0 0 auto;
        width: calc(33% - .75em);
        min-width: 32%; } }
    @media (min-width: 444px) {
      .row .col.percent-50 {
        flex: 0 0 auto;
        width: 100%; } }
    @media (min-width: 1280px) {
      .row .col.percent-50 {
        flex: 0 0 auto;
        width: calc(50% - 1em); } }

.half {
  width: 50%;
  margin: 0 auto; }

/* ============================================================
  Reset styles.
  ============================================================ */
* {
  box-sizing: border-box; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }
  html.translated-rtl > body,
  html.translated-ltr > body {
    top: 0 !important; }

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: "Lora", serif;
  color: #535353; }

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  font-family: "Montserrat", sans-serif;
  font-size: 1em; }

ul,
ol {
  margin: 0;
  padding: 0; }
  ul li,
  ol li {
    list-style: none; }

/*# sourceMappingURL=generic.css.map */
