/**
 * @file
 */

.view--sb .slick--skin--grid ~ .slick .slick__arrow {
  position: absolute;
  right: 2px;
  top: -32px;
}

/** Prevents cropped border as we have borders for selection. */
.sb .slick--skin--grid .slick__slide {
  padding: 0 0.625rem;
}

.sb .slick--skin--grid.slick--vertical .slick__slide {
  padding: 0 6px;
}
