/* ============================================================
  Styles for layout structure, including a column system!
  ============================================================ */

.layout-container {
  @extend %centered-layout;

  .not-found & {
    margin: 0 3em;
  }

  .content-top {
    margin: 0 0 1.5em;
    position: relative;
  }

  .layout-content {

    &.left-sidebar {
      @include respond-to('m') {
        margin: 0 0 0 1em;
      }
  
      @include respond-to('l') {
        max-width: 800px;
        margin: 0 0 0 1.5em;
      }
  
      @include respond-to('xl') {
        margin: 0 0 0 2.5em;
      }  
    }

    &.right-sidebar {
      @include respond-to('m') {
        margin: 0 1em 0 0;
      }
  
      @include respond-to('l') {
        max-width: 800px;
        margin: 0 1.5em 0 0;
      }
  
      @include respond-to('xl') {
        margin: 0 2.5em 0 0;
      }  
    }

  }
}

// Establish the columns parent and use a margin hack to create gutters.
.row {
  display: flex;
  flex-direction: column;

  @include respond-to('m') {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    &.no-justify {
      justify-content: flex-start;
    }
  }

  // Default column styling with gutters to match the negative margins.
  .col {
    flex: 1;

    &.percent-33 {
      @include respond-to('ml') {
        flex: 0 0 auto;
        width: calc(33% - .75em);
        min-width: 32%; // I LUV INTERNET EXPLORER 11.
      }
    }

    &.percent-50 {
      @include respond-to('xxs') {
        flex: 0 0 auto;
        width: 100%;
      }
      @include respond-to('xl') {
        flex: 0 0 auto;
        width: calc(50% - 1em);
      }
    }
  }
}

.half {
  width: 50%;
  margin: 0 auto;
}
