recurring_events.included_dates.*:
  type: config_entity
  label: 'Included dates config'
  mapping:
    id:
      type: string
      label: 'ID'
    label:
      type: label
      label: 'Label'
    uuid:
      type: string
    start:
      type: string
    end:
      type: string
