/* ============================================================
  Colors
  ============================================================ */
$charcoal: #393939;
$gray: #535353;
$light-gray: #979797;
$white: #fff;
$brand-blue: #065B89;
$dark-blue: #053C5B;
$brand-red: #C31F24;