/* ============================================================
  Placeholders for repeat styles.
  ============================================================ */

%centered-layout {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2em;

  @include respond-to('l') {
    padding: 2em;
  }

  @include respond-to('xl') {
    padding: 2em 5em;
  }

  @include respond-to('xxl') {
    padding: 2em 6.25em;
  }

}

%no-underline-link {
  text-decoration: none;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

%button {
  color: #fff !important;
  background: $dark-blue;
  font-size: 1.25em;
  padding: .5em 2em;
  display: block;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;

  &[href$='.pdf'] {
    background: $dark-blue;
    display: block;
    padding: .5em 2em;
  }
}

%nomargin,
.nomargin {
  margin: 0 !important;
}

%nopadding,
.nopadding {
  padding: 0 !important;
}

%nospacing,
.nospacing {
  margin: 0 !important;
  padding: 0 !important;
} 

%centered {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}