/* ============================================================
  Styles for general typography and links.
  ============================================================ */

a {
  color: $dark-blue;

  &:hover {
    text-decoration: underline;
  }

  &[href$='.pdf'] {
    display: inline-block;
    background: url("/core/themes/classy/images/icons/application-pdf.png") no-repeat left center;
    padding: 0 0 0 1.2em;
  }
}

p {
  margin: 0 0 1em;
  font-size: 1.125rem;
  line-height: 1.5;
}

// only style this stuff in the main body
#block-paladin-content {
  ul,
  ol {
    font-size: 1.125rem;
    line-height: 1.5;

    li {
      margin: .5em 0 .5em 1em;
      padding: 0 0 0 .5em;
    }
  }

  ul li {
    list-style: disc;
  }

  ol li {
    list-style: decimal;
  }
}