/* ============================================================
  Alignment and display helpers.
  ============================================================ */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.block {
  display: block;
}

.padding-top-05 {
  padding: .5em 0 0 0;
}

.padding-bottom-05 {
  padding: 0 0 .5em;
}


.padding-1-5 {
  padding: 1.5em;
}

.margin-bottom-025 {
  margin: 0 0 .25em;
}

.margin-bottom-05 {
  margin: 0 0 .5em;
}

.margin-bottom-1-5 {
  margin: 0 0 1.5em;
}

.margin-top-1-5 {
  margin: 1.5em 0 0;
}

.margin-top-075 {
  margin: .75em 0 0;
}

.margin-075 {
  margin: .75em 0;
}

.inline {
  display: inline-block;
  width: auto;
}

.offscreen {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  color: #000;
  background: #fff;
}

.hidden {
  display: none;
}

.clearfix {
  clear: both;
}