/* ============================================================
  Styles for shapes – currently limited to the style guide but we'll see!
  ============================================================ */

.square-125 {
  width: 125px;
  height: 125px;
}

.square-65 {
  width: 65px;
  height: 65px;
}

.rectangle-75 {
  width: 100%;
  height: 75px;
}

.rectangle-150 {
  width: 100%;
  height: 150px;
}

.circle-300 {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}