/* ============================================================
  Reset styles.
  ============================================================ */

* {
  box-sizing: border-box;
}

html {
  // fix the zooming on mobile safari orientation change
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

  // Fix the dumb google translate banner spacing.
  &.translated-rtl > body,
  &.translated-ltr > body {
    top: 0 !important;
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-family: $body-copy;
  color: $gray;
}

button {
  border: 0;
  padding: 0;
  cursor: pointer;
  background: transparent;
  font-family: $headline;
  font-size: 1em;
}

ul,
ol {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }
}