/**
 * @file
 */

/** The willy-nilly !important to deal with JS inline states. */
.field-plugin-settings-editing .form--slick.form--style-off > *,
.field-plugin-settings-editing .form--style-single .form-item--grid,
.field-plugin-settings-editing .form--style-single .form-item--grid-header,
.field-plugin-settings-editing .form--style-single .form-item--grid-medium,
.field-plugin-settings-editing .form--style-single .form-item--grid-small,
.field-plugin-settings-editing .form--style-single .form-item--visible-items,
.field-plugin-settings-editing .form--style-single .form-item--optionset-thumbnail,
.field-plugin-settings-editing .form--style-single .form-item--skin-thumbnail,
.field-plugin-settings-editing .form--style-single .form-item--thumbnail-position,
.field-plugin-settings-editing .form--style-single .form-item--thumbnail-style,
.field-plugin-settings-editing .form--style-single .form-item--override,
.field-plugin-settings-editing .form--style-single .form-wrapper--overridables,
.field-plugin-settings-editing .form--style-single .form-item--optionset,
.field-plugin-settings-editing .form--slick .form-item--elevatezoomplus,
.field-plugin-settings-editing .form--style-slick .form-item--grid,
.field-plugin-settings-editing .form--style-slick .form__title--grid,
.field-plugin-settings-editing .form--style-slick .form-item--grid-medium,
.field-plugin-settings-editing .form--style-slick .form-item--grid-small,
.field-plugin-settings-editing .form--style-slick .form-item--visible-items,
.field-plugin-settings-editing .form--style-grid .form-item--optionset,
.field-plugin-settings-editing .form--style-grid .form-item--optionset-thumbnail,
.field-plugin-settings-editing .form--style-grid .form-item--skin,
.field-plugin-settings-editing .form--style-grid .form-item--skin-thumbnail,
.field-plugin-settings-editing .form--style-grid .form-item--visible-items,
.field-plugin-settings-editing .form--style-grid .form-item--thumbnail-position,
.field-plugin-settings-editing .form--style-grid .form-item--thumbnail-style,
.field-plugin-settings-editing .form--style-grid .form-item--override,
.field-plugin-settings-editing .form--style-grid .form-wrapper--overridables,
.field-plugin-settings-editing .form--style-column .form-item--optionset,
.field-plugin-settings-editing .form--style-column .form-item--optionset-thumbnail,
.field-plugin-settings-editing .form--style-column .form-item--skin,
.field-plugin-settings-editing .form--style-column .form-item--skin-thumbnail,
.field-plugin-settings-editing .form--style-column .form-item--visible-items,
.field-plugin-settings-editing .form--style-column .form-item--thumbnail-position,
.field-plugin-settings-editing .form--style-column .form-item--thumbnail-style,
.field-plugin-settings-editing .form--style-column .form-item--override,
.field-plugin-settings-editing .form--style-column .form-wrapper--overridables {
  display: none !important; /* csslint allow: known-properties, important */
}

.field-plugin-settings-editing .form__title--grid small,
.field-plugin-settings-editing .form--slick > .form-type-checkbox,
.field-plugin-settings-editing .form--slick > .form-type-select,
.field-plugin-settings-editing .form--slick > .form-type-textfield {
  display: none;
}

.field-plugin-settings-editing .form--slick.form--half > .form-item--style {
  display: block !important; /* csslint allow: known-properties, important */
}

.field-plugin-settings-editing .form--slick.form--style-on > .form-item--view-mode,
.field-plugin-settings-editing .form--slick.form--style-on > .form-item--image-style,
.field-plugin-settings-editing .form--slick.form--style-on > .form-item--grid,
.field-plugin-settings-editing .form--slick.form--style-on > .form-item--sizes,
.field-plugin-settings-editing .form--slick.form--style-on > .form__title--breakpoints,
.field-plugin-settings-editing .form--slick.form--style-slick > .form-type-checkbox,
.field-plugin-settings-editing .form--slick.form--style-slick > .form-type-select,
.field-plugin-settings-editing .form--slick.form--style-slick > .form-type-textfield {
  display: block;
}
