/* ============================================================
  Styles for social icons.
  ============================================================ */

  #block-share-and-print {
    margin: 1.5em 0;

    @include respond-to('m') {
      position: absolute;
      margin: 0;
      top: 0;
      right: 0;  
    }

    .share,
    .print {
      font-size: 1.2em;
      margin: 0 1em 0 .5em;
      color: $dark-blue;
      font-weight: 600;
      
      svg {
        position: relative;
        left: -.2em;
        top: .05em;
      }
    }

    .social-wrap {
      position: absolute;
  
      .social-sharing-buttons {
        margin: 1em 0;
        position: relative;
      }
    }
  }