/* ============================================================
  Styles for the iframe paragraph
  ============================================================ */
.paragraph--type--iframe {
  margin: 2em 0;
  
  .fullscreen {
    float: right;
    margin: .5em 0;
  }
}