/* ============================================================
  Styles for layout structure, including a column system!
  ============================================================ */

.layout-container {
  max-width: 1440px;
  margin: 0 auto;
}

// Establish the columns parent and use a margin hack to create gutters.
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -1em 0 0 -1em;

  // Default column styling with gutters to match the negative margins.
  .col {
    flex: 1;
    padding: 1em 0 0 1em;
    margin: .5em 0 0; // This could be wrong but right now everything is smushed.

    &.percent-25 {
      flex: 0 0 26%;
      padding: 1em 2em 1em 0;
    }
  }
}

.half {
  width: 50%;
  margin: 0 auto;
}
