@charset "UTF-8";
/* ============================================================
  Utilities and helper classes.
  ============================================================ */
/* ============================================================
  Preprocessors, fonts, variables.
  These ITCSS naming conventions and structure are inspired by Lindsay Grizzard's article on Medium: https://medium.com/gusto-design/creating-the-perfect-css-system-fa38f5bcdd9e
  ============================================================ */
/* ============================================================
  Vendor-specific styles.
  ============================================================ */
/* ============================================================
  Breakpoints
  ============================================================ */
/* ============================================================
  Colors
  ============================================================ */
/* ============================================================
  Styles for fonts/typefaces.
  ============================================================ */
/* ============================================================
  Placeholders for repeat styles.
  ============================================================ */

.nomargin {
  margin: 0 !important; }


.nopadding {
  padding: 0 !important; }


.nospacing {
  margin: 0 !important;
  padding: 0 !important; }

/* ============================================================
  Admin helpers for when you're logged into Paladin.
  ============================================================ */
#block-paladin-local-tasks ul {
  margin: 1em 0;
  border-bottom: 2px solid #979797; }
  #block-paladin-local-tasks ul li {
    display: inline-block;
    border-top: 2px solid #979797;
    border-left: 2px solid #979797;
    border-right: 2px solid #979797;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #979797;
    position: relative;
    top: .1em; }
    #block-paladin-local-tasks ul li:hover {
      background: #8a8a8a; }
    #block-paladin-local-tasks ul li.active {
      background: #fff;
      border-color: #053C5B; }
      #block-paladin-local-tasks ul li.active:hover {
        background: #f2f2f2; }
    #block-paladin-local-tasks ul li a {
      padding: .5em 1em;
      display: block;
      text-decoration: none;
      font-size: 1.2em; }
      #block-paladin-local-tasks ul li a:hover {
        text-decoration: underline; }

.msg {
  background: #f5fbff;
  font-size: 1.4em;
  padding: .5em 1em;
  border: 2px solid #979797; }
  .msg.error {
    background: white; }

.user-login-form .js-form-item {
  margin: 1em 0; }

/* ============================================================
  Alignment and display helpers.
  ============================================================ */
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.float-right {
  float: right; }

.float-left {
  float: left; }

.block {
  display: block; }

.padding-top-05 {
  padding: .5em 0 0 0; }

.padding-bottom-05 {
  padding: 0 0 .5em; }

.padding-1-5 {
  padding: 1.5em; }

.margin-bottom-025 {
  margin: 0 0 .25em; }

.margin-bottom-05 {
  margin: 0 0 .5em; }

.margin-bottom-1-5 {
  margin: 0 0 1.5em; }

.margin-top-1-5 {
  margin: 1.5em 0 0; }

.margin-top-075 {
  margin: .75em 0 0; }

.margin-075 {
  margin: .75em 0; }

.inline {
  display: inline-block;
  width: auto; }

.offscreen {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
  color: #000;
  background: #fff; }

.hidden {
  display: none; }

.clearfix {
  clear: both; }

/* ============================================================
  Styles for background colors/gradients, opacity, and type color.
  ============================================================ */
/* Background color/gradient styles */
.dark-blue-bg {
  background: #053C5B;
  color: #fff; }

.blue-bg {
  background: #065B89; }

.gray-bg {
  background: #535353; }

.light-gray-bg {
  background: #979797; }

.white-bg {
  background: #fff; }

.red-bg {
  background: #C31F24; }

/* Opacity styles in an opacity-%% format */
.opacity-90 {
  opacity: .9; }

.opacity-50 {
  opacity: .5; }

.opacity-20 {
  opacity: .2; }

/* Type color styles */
.white {
  color: #fff; }

.black {
  color: #000; }

.dark-blue {
  color: #053C5B; }

.blue {
  color: #065B89; }

/* ============================================================
  Styles for shapes – currently limited to the style guide but we'll see!
  ============================================================ */
.square-125 {
  width: 125px;
  height: 125px; }

.square-65 {
  width: 65px;
  height: 65px; }

.rectangle-75 {
  width: 100%;
  height: 75px; }

.rectangle-150 {
  width: 100%;
  height: 150px; }

.circle-300 {
  width: 300px;
  height: 300px;
  border-radius: 50%; }

/* ============================================================
  Typographic helpers.
  ============================================================ */
.bold {
  font-weight: 600; }

.size-18 {
  font-size: 1.125rem; }

/*# sourceMappingURL=helpers.css.map */
