/* ============================================================
  Styles for components that are shared across the whole site. Individual SCSS files in this directory are separate libraries that are added in templates, etc.
  ============================================================ */
/* ============================================================
  Preprocessors, fonts, variables.
  These ITCSS naming conventions and structure are inspired by Lindsay Grizzard's article on Medium: https://medium.com/gusto-design/creating-the-perfect-css-system-fa38f5bcdd9e
  ============================================================ */
/* ============================================================
  Vendor-specific styles.
  ============================================================ */
/* ============================================================
  Breakpoints
  ============================================================ */
/* ============================================================
  Colors
  ============================================================ */
/* ============================================================
  Styles for fonts/typefaces.
  ============================================================ */
/* ============================================================
  Placeholders for repeat styles.
  ============================================================ */
#block-main-menu {
  font-family: "Source Sans Pro", sans-serif;
  position: relative; }
  #block-main-menu li {
    display: block; }
    @media (min-width: 1024px) {
      #block-main-menu li {
        display: inline-block; } }
  #block-main-menu a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    display: block;
    width: 100%;
    height: 100%; }
    #block-main-menu a:hover {
      text-decoration: underline; }

#block-main-menu .menu-level-0 > li {
  padding: .75em; }
  @media (min-width: 1280px) {
    #block-main-menu .menu-level-0 > li {
      padding: 1em; } }

footer .footer-top #block-paladin-footer a, footer .footer-top #block-footermiddlemenu a {
  text-decoration: none;
  font-weight: 600; }
  footer .footer-top #block-paladin-footer a:hover, footer .footer-top #block-footermiddlemenu a:hover {
    text-decoration: underline; }


.nomargin {
  margin: 0 !important; }


.nopadding {
  padding: 0 !important; }

footer .footer-top h4,
.nospacing {
  margin: 0 !important;
  padding: 0 !important; }

header {
  position: relative;
  background: #0275B7;
  background: linear-gradient(180deg, #123A7E 30%, #0275B7 100%); }
  @media (min-width: 1024px) {
    header {
      background: #123A7E;
      background: linear-gradient(180deg, rgba(22, 48, 93, 0.9) 0%, rgba(18, 58, 126, 0.55) 30.97%, rgba(255, 255, 255, 0) 100%), url("../images/boston-skyline.jpg") no-repeat;
      background-size: cover;
      background-position: -120px 0; } }
  @media (min-width: 1280px) {
    header {
      background-position: 0; } }
  @media (min-width: 1440px) {
    header {
      background-position: 0 -30px; } }

#block-main-menu .menu-level-1 {
  transform: translateX(100%);
  transition: transform .3s; }
  #block-main-menu .active.menu-level-1 {
    transform: translateX(0); }
  @media (min-width: 1024px) {
    #block-main-menu .menu-level-1 {
      transform: scaleY(0);
      transform-origin: top; }
      #block-main-menu .active.menu-level-1 {
        transform: scaleY(1); } }

/* ============================================================
  Styles for the footer.
  ============================================================ */
footer {
  display: flex;
  flex-direction: column;
  color: #fff;
  max-width: 1920px;
  margin: 0 auto; }
  footer a {
    color: #fff; }
  footer .footer-top {
    background: #123A7E;
    background: linear-gradient(rgba(18, 58, 126, 0.8), rgba(18, 58, 126, 0.8)), url("../images/footer.jpg") no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 6em 1.5em 1.5em; }
    footer .footer-top::before {
      content: '';
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      height: 100px; }
      @media (min-width: 444px) {
        footer .footer-top::before {
          background: url("../images/footer-wave-tablet.svg") no-repeat; } }
      @media (min-width: 768px) {
        footer .footer-top::before {
          background: url("../images/footer-wave-tablet-landscape.svg") no-repeat; } }
      @media (min-width: 1024px) {
        footer .footer-top::before {
          background: url("../images/footer-wave.svg") no-repeat; } }
      @media (min-width: 1440px) {
        footer .footer-top::before {
          background: url("../images/footer-wave-xl.svg") no-repeat; } }
    @media (min-width: 666px) {
      footer .footer-top {
        padding: 6em 5em 3em; } }
    @media (min-width: 1024px) {
      footer .footer-top {
        flex-direction: row;
        padding: 7em 5em; } }
    footer .footer-top h4 {
      font-size: 1.2em; }
    footer .footer-top p {
      margin: .15em 0 1em; }
    footer .footer-top #block-paladin-footer {
      margin: 2em 0 0;
      line-height: 1.75; }
    footer .footer-top #block-footermiddlemenu .menu-item--expanded {
      margin: 0 0 1.5em; }
      footer .footer-top #block-footermiddlemenu .menu-item--expanded > a {
        border-bottom: 2px solid #00A3CD;
        font-weight: 600;
        display: block;
        margin: 0 0 .75em; }
    footer .footer-top .block-social-media-links li {
      padding: 0 1em 0 0; }
    footer .footer-top #block-twitterblock {
      margin: 2em 0 0; }
      footer .footer-top #block-twitterblock h2 {
        margin: .5em 0;
        font-size: 1.3em; }
  footer .footer-bottom {
    background: #393939;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 1.5em;
    font-weight: 600;
    flex-direction: column;
    text-align: center; }
    @media (min-width: 666px) {
      footer .footer-bottom {
        padding: .5em 5em; } }
    @media (min-width: 768px) {
      footer .footer-bottom {
        flex-direction: row;
        text-align: left; } }
    footer .footer-bottom a {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-weight: 600;
      margin: .5em 0; }
      @media (min-width: 768px) {
        footer .footer-bottom a {
          margin: 0; } }
      footer .footer-bottom a img {
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 0 0 0 .75em; }

/* ============================================================
  Styles for the header.
  ============================================================ */
header {
  max-width: 1920px;
  margin: 0 auto;
  overflow: hidden; }
  header.active {
    height: 780px; }
  @media (min-width: 1024px) {
    header {
      min-height: 500px;
      overflow: visible; } }
  .front header {
    padding: 0 0 7em; }
    @media (min-width: 1024px) {
      .front header {
        padding: 0; } }
  @media (min-width: 1024px) {
    header > div {
      padding: 2em 0; } }
  @media (min-width: 1280px) {
    header > div {
      padding: 2em 5em; } }
  @media (min-width: 1440px) {
    header > div {
      padding: 2em 6.25em; } }
  header::after {
    content: '';
    width: 100%;
    position: absolute;
    bottom: 0;
    background: url("../images/header-wave-mobile.svg") no-repeat;
    height: 50px; }
    @media (min-width: 321px) {
      header::after {
        background: url("../images/header-wave-mobile-plus.svg") no-repeat; } }
    @media (min-width: 444px) {
      header::after {
        background: url("../images/header-wave-tablet.svg") no-repeat; } }
    @media (min-width: 768px) {
      header::after {
        background: url("../images/header-wave-tablet-landscape.svg") no-repeat; } }
    @media (min-width: 1024px) {
      header::after {
        background: url("../images/header-wave.svg") no-repeat; } }
    @media (min-width: 1440px) {
      header::after {
        background: url("../images/header-wave-xl.svg") no-repeat;
        height: 100px; } }
  header #block-paladin-branding {
    position: fixed;
    z-index: 500;
    background: #123A7E;
    width: 100%;
    padding: .3em 0 .6em .3em; }
    header #block-paladin-branding.active {
      position: absolute;
      background: transparent; }
    @media (min-width: 1024px) {
      header #block-paladin-branding {
        position: relative;
        left: 1.25em;
        top: 0;
        width: 50%;
        z-index: 100;
        background: transparent;
        padding: 0; } }
    @media (min-width: 1280px) {
      header #block-paladin-branding {
        left: 0; } }
    header #block-paladin-branding a {
      display: block;
      width: 200px; }
      @media (min-width: 666px) {
        header #block-paladin-branding a {
          width: 280px; } }
    header #block-paladin-branding .slogan {
      display: none; }
      @media (min-width: 1024px) {
        header #block-paladin-branding .slogan {
          margin: 1em 0 2em;
          display: block; }
          header #block-paladin-branding .slogan span {
            color: #fff;
            margin: 0 1em 0 0;
            font-style: italic; } }

/* ============================================================
  Styles for the main menu.
  ============================================================ */
#block-main-menu {
  font-size: 1.1em;
  width: 100%;
  background: #0275B7;
  top: 0;
  padding: 4em 1em 10em;
  opacity: 0;
  height: 0;
  transition: .3s opacity;
  z-index: -1; }
  #block-main-menu.active {
    opacity: 1;
    height: auto;
    z-index: 300; }
  @media (min-width: 1024px) {
    #block-main-menu {
      background: rgba(2, 117, 183, 0.9);
      top: auto;
      padding: 0;
      z-index: 500;
      display: block;
      opacity: 1;
      height: auto; } }
  #block-main-menu a {
    font-weight: 600;
    font-size: 1em;
    position: relative; }
    @media (min-width: 1024px) {
      #block-main-menu a {
        font-size: .9em; } }
    @media (min-width: 1280px) {
      #block-main-menu a {
        font-size: .95em; } }
    @media (min-width: 1440px) {
      #block-main-menu a {
        font-size: 1em; } }
  @media (min-width: 1024px) {
    #block-main-menu .menu-item--expanded {
      position: relative; } }
  #block-main-menu .menu-item--expanded.active {
    background: #F7F5F5; }
    #block-main-menu .menu-item--expanded.active a {
      color: #123A7E; }
  #block-main-menu .menu-level-0 {
    display: inline-block;
    border-top: 2px solid rgba(255, 255, 255, 0.43);
    border-bottom: 2px solid rgba(255, 255, 255, 0.43);
    width: 100%;
    padding: .5em 0; }
    @media (min-width: 1024px) {
      #block-main-menu .menu-level-0 {
        border: 0;
        width: auto;
        display: flex;
        justify-content: space-between;
        padding: 0 .5em; } }
    @media (min-width: 1280px) {
      #block-main-menu .menu-level-0 {
        padding: 0; } }
    #block-main-menu .menu-level-0 .arrow {
      display: block;
      position: absolute;
      font-size: 1.75em;
      right: 0;
      bottom: -.15em; }
      @media (min-width: 1024px) {
        #block-main-menu .menu-level-0 .arrow {
          display: none; } }
  #block-main-menu .menu-level-1 {
    background: #F7F5F5;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 13em;
    padding: 1em;
    width: 100vw;
    height: 100%;
    margin-left: -50vw;
    margin-right: -50vw;
    z-index: 500; }
    @media (min-width: 444px) {
      #block-main-menu .menu-level-1 {
        top: 14em; } }
    @media (min-width: 1024px) {
      #block-main-menu .menu-level-1 {
        width: 300px;
        box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.5);
        top: 2.6em;
        left: 0;
        right: 0;
        margin: 0 !important;
        position: absolute;
        height: auto; } }
    @media (min-width: 1280px) {
      #block-main-menu .menu-level-1 {
        top: 3.2em; } }
    #block-main-menu .menu-level-1 li {
      display: block;
      padding: .5em 0;
      position: relative; }
      #block-main-menu .menu-level-1 li:first-of-type {
        display: inline-block;
        border-bottom: 2px solid #00A3CD;
        margin: 0 0 .75em; }
        @media (min-width: 1024px) {
          #block-main-menu .menu-level-1 li:first-of-type {
            display: block;
            border: 0;
            margin: 0; } }
    #block-main-menu .menu-level-1 a {
      color: #123A7E;
      padding: 0 0 0 2em;
      display: block;
      position: relative;
      z-index: 100; }
    #block-main-menu .menu-level-1 .arrow {
      display: none; }
    #block-main-menu .menu-level-1 svg {
      position: absolute;
      color: #00A3CD;
      top: .65em;
      left: 0; }
      @media (min-width: 1024px) {
        #block-main-menu .menu-level-1 svg {
          z-index: -1; } }
  #block-main-menu .mobile {
    display: block; }
    #block-main-menu .mobile .search-box {
      position: relative;
      bottom: auto;
      display: flex;
      z-index: 500; }
      #block-main-menu .mobile .search-box .search-button {
        bottom: .35em;
        right: .4em; }
    #block-main-menu .mobile .menu-phone {
      margin: 1em 0; }
    #block-main-menu .mobile .back {
      padding: 1em;
      margin: 0 0 0 1em; }
      #block-main-menu .mobile .back svg {
        font-size: 2em;
        color: #123A7E;
        top: .3em;
        left: -.4em; }
    @media (min-width: 1024px) {
      #block-main-menu .mobile {
        display: none; } }

.mobile-menu-trigger {
  position: fixed;
  top: .5em;
  right: .5em;
  color: #fff;
  z-index: 500; }
  .mobile-menu-trigger.active {
    position: absolute; }
  @media (min-width: 1024px) {
    .mobile-menu-trigger {
      display: none; } }
  .mobile-menu-trigger .burger,
  .mobile-menu-trigger .close-x {
    font-size: 2em;
    display: block;
    width: 50px; }
  .mobile-menu-trigger .close {
    display: none; }
  .mobile-menu-trigger .txt {
    margin: .5em 0 0; }
  .mobile-menu-trigger.active .burger,
  .mobile-menu-trigger.active .txt {
    display: none; }
  .mobile-menu-trigger.active .close {
    display: block; }

/*# sourceMappingURL=organisms.css.map */
