/* ============================================================
  Admin helpers for when you're logged into Paladin.
  ============================================================ */

#block-paladin-local-tasks {
  ul {
    margin: 1em 0;
    border-bottom: 2px solid $light-gray;

    li {
      display: inline-block;
      border-top: 2px solid $light-gray;
      border-left: 2px solid $light-gray;
      border-right: 2px solid $light-gray;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      background: $light-gray;
      position: relative;
      top: .1em;

      &:hover {
        background: darken($light-gray, 5%);
      }

      &.active {
        background: #fff;
        border-color: $dark-blue;
        &:hover {
          background: darken(#fff, 5%);
        }
      }
      
      a {
        padding: .5em 1em;
        display: block;
        text-decoration: none;
        font-size: 1.2em;

        &:hover {
          text-decoration: underline;
        }
      }
    }  
  }
}

// Messages.

.msg {
  background: lighten($brand-blue, 70%);
  font-size: 1.4em;
  padding: .5em 1em;
  border: 2px solid $light-gray;

  &.error {
    background: lighten($brand-red, 60%);
  }
}

.user-login-form {
  .js-form-item {
    margin: 1em 0;
  }
}